*{
    padding: 0;
    margin: 0;
}
#game{
background-color: chartreuse;
    width: 400px;
    height: 500px;
    border: 10px solid black;
    margin: auto;
    overflow: hidden;
}
#ball{
    width: 20px;
    height: 20px;
    background-color: crimson;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{

    width: 40px;
    height: 20px;
    background-color: chartreuse;
    position: relative;
    top: 100px;
    margin-top: -20px;
}